.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // Путь к изображениям из SASS-файла всегда такой, как из папки css
  background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
}

body {
  background: #343d46;
}

.box {
  margin: 100px auto;
  width: 300px;
  height: 50px;
}
input {
  outline: 0 !important;
}

img {
  display: blok;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.gallery__item {
  margin-bottom: 50px;
  margin-top: 15px;

  //position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);

  display: block;
  // max-width: 100%;
  //height: auto;
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.gallery_description {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.gallery_description__info {
  font-weight: bold;
  display: block;
  color: black;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery_description__date {
  font-weight: normal;
}

.container {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container input#search {
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  // border-color: red;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  border-radius: 5px;
}

// .container input#search::-webkit-input-placeholder {
//   color: #65737e;
// }

// .container input#search:-moz-placeholder {
//   /* Firefox 18- */
//   color: #65737e;
// }

// .container input#search::-moz-placeholder {
//   /* Firefox 19+ */
//   color: #65737e;
// }

// .container input#search:-ms-input-placeholder {
//   color: #65737e;
// }

// .container input#search {
//   color: #65737e;
// }

.container button.icon {
  // -webkit-border-top-right-radius: 5px;
  // -webkit-border-bottom-right-radius: 5px;
  // -moz-border-radius-topright: 5px;
  // -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  // -webkit-transition: all 0.55s ease;
  // -moz-transition: all 0.55s ease;
  // -ms-transition: all 0.55s ease;
  // -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.container:hover button.icon,
.container:active button.icon,
.container:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container:hover button.icon:hover {
  background: white;
}

button.is-hidden {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  margin-top: 50px;
  margin-bottom: 50px;

  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  height: 30px;
  width: 100px;
  color: #4f5b66;
  border-radius: 5px;

  font-size: 10pt;
}
